<div class="container-fluid pages page">
  <div class="row">

    {{> admin/components/menus/main menu-pages=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading='Pages'}}

        {{> admin/components/notifications}}

        <div class="container page-body">

          <div class="row justify-content-end">
            <div class="col-12 col-lg-8 col-xl-6 pr-0 d-flex justify-content-end">
              <form id="searchpages" class="form-inline">
                <div class="form-group">
                  <input name="search" type="search" class="form-control" placeholder="Search Pages ..."
                    value="{{search}}">
                    {{#if this.orderBy}}<input type="hidden" name="orderBy" value="{{this.orderBy}}">{{/if}}
                    {{#if this.sort}}<input type="hidden" name="sort" value="{{this.sort}}">{{/if}}
                </div>
                <button type="submit" class="btn btn-light ml-3">Search</button>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  {{#if search}}
                    <h5>Search Results: "{{search}}"</h5>
                  {{/if}}
                </div>
                {{#if pages}}
                <div class="col-12">
                  <!-- Select criteria for multi update -->
                  <select id="multi-edit-select" class="mb-3" disabled>
                    <option hidden disabled selected value>select</option>
                    <option value="delete">Delete Pages</option>
                    <option value="status" data-target="#select-status">Update Status</option>
                    <option value="template" data-target="#select-template">Update Template</option>
                  </select>

                  <!-- Multi update values options -->
                  <select id="select-template" class="multi-edit-select-hidden">
                    <option hidden disabled selected value>Select template</option>
                    <option value="defaults/page">Default Page Template</option>
                    {{#each templates}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>

                  <select id="select-status" class="multi-edit-select-hidden">
                    <option hidden disabled selected value>Select status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                  </select>

                </div>
                <div class="col-12 mt-3">
                  <button id="submit_list_multi_edit" data-url="/updatepagemulti" type="button"
                    class="btn btn-primary btn-sm" disabled>Submit</button>
                </div>
                <table class="table table-striped table-responsive-sm mt-3" id="list">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="Select All Pages" value class="listCheckbox selectAll"></th>
                      <th><a href="?orderBy=title&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Title</a></th>
                      <th><a href="?orderBy=homepage&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Homepage</a>
                      </th>
                      <th><a href="?orderBy=template&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Template</a>
                      </th>
                      <th><a href="?orderBy=active&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Status</a>
                      </th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each pages}}
                    {{#with this}}
                      <tr>
                        <td><input type="checkbox" name="{{title}}" value="{{_id}}" class="listCheckbox selectSingle"></td>
                        <td><a href="pages/edit/{{_id}}">{{title}}</a></td>
                        <td>
                          {{#if homepage}}
                            <span class="badge badge-info ml-4"><i class="fas fa-check"></i></span>
                          {{/if}}
                        </td>
                        <td>
                          {{#contains template "defaults"}}
                            Default
                          {{else}}
                            {{template}}
                          {{/contains}}
                        </td>
                        <td>
                          {{#if active}}
                            <span class="badge badge-success">Active</span>
                          {{else}}
                            <span class="badge badge-warning">Inactive</span>
                          {{/if}}
                        </td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="pages/edit/{{_id}}">Edit</a>
                              <a class="dropdown-item" href="/{{permalink.route}}" target="_blank">View</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {{/with}}
                    {{/each}}
                  </tbody>
                </table>
                {{else}}
                <div class="alert alert-warning fade show mb-3 mt-3" role="alert">
                  <strong>Sorry, no pages found.</strong>
                </div>
                {{/if}}
              </div>

            </div>
          </div>

          {{> admin/components/pagination data=pages}}

          <div class="row">
            <div class="col-12">

              <a href="/admin/pages/add" class="btn btn-outline-info">Add Page</a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>