<div class="container-fluid redirects page">
  <div class="row">

    {{> admin/components/menus/main menu-redirects=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading='Redirects'}}

        {{> shared/notifications}}

        <div class="container page-body">
          <div class="row justify-content-end">
            <div class="col-12 col-lg-8 col-xl-6 pr-0 d-flex justify-content-end">
              <form id="searchredirects" class="form-inline">
                <div class="form-group">
                  <input name="search" type="search" class="form-control" placeholder="Search Redirects ..."
                    value="{{search}}">
                    {{#if this.orderBy}}<input type="hidden" name="orderBy" value="{{this.orderBy}}">{{/if}}
                    {{#if this.sort}}<input type="hidden" name="sort" value="{{this.sort}}">{{/if}}
                </div>
                <button type="submit" class="btn btn-light ml-3">Search</button>
              </form>
            </div>
          </div>

            {{#if search}}
            <h5 class="mt-3">Search Results: "{{search}}"</h5>
            {{/if}}

          {{#if redirects}}
          <div class="row">
            <div class="col-12">
              <select id="multi-edit-select" disabled>
                <option hidden disabled selected value>select</option>
                <option value="delete">Delete Redirects</option>
                <option value="target">Update Target</option>
              </select>
            </div>

            <div class="col-6 multiple-target-field mt-3">
              <small id="multiTargetHelp" class="form-text text-muted">Enter target for these redirects.</small>
              <input type="text" id="select-target" name="target" class="form-control" placeholder="/target/example ..."
                aria-describedby="multiTargetHelp">
            </div>

            <div class="col-12 mt-3">
              <button id="submit_list_multi_edit" data-url="/updateredirectsmulti" type="button"
                class="btn btn-primary btn-sm mt-3" disabled>Submit</button>
            </div>
          </div>

          <table class="table table-responsive-sm mt-4 mb-5" id="list">
            <thead>
              <tr>
                <th><input type="checkbox" name="Select All Redirects" value class="listCheckbox selectAll"></th>
                <th><a href="?orderBy=source&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Source</a></th>
                <th><a href="?orderBy=target&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Target</a>
                </th>
                <th><a href="?orderBy=hits&sort={{#if this.sort}}{{this.sort}}{{else}}asc{{/if}}">Hits</a>
                </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each redirects}}
              <tr id="redirect-info-{{@key}}">
                <td><input type="checkbox" name="{{this.title}}" value="{{this.id}}" class="listCheckbox selectSingle">
                </td>
                <td>{{this.source}}</td>
                <td>{{this.target}}</td>
                <td>{{this.hits}}</td>
                <td>
                  <button type="button" class="btn btn-info redirect-edit-show" data-target="#redirect-{{@key}}"
                    data-info="#redirect-info-{{@key}}"><i class="far fa-edit"></i></button>
                  <form action="/deleteredirect" method="POST" class="d-inline"><input name="_id" type="hidden"
                      value="{{this.id}}"><button type="submit" class="btn btn-danger"><i
                        class="far fa-trash-alt"></i></button></form>
                </td>
              </tr>
              <tr id="redirect-{{@key}}" class="updateredirect">
                <td>
                  <form action="/updateredirect" method="POST" class="">
                    <div class="row align-items-end">
                      <div class="col">
                        <small id="sourceHelp" class="form-text text-muted">The relative url that is redirected.</small>
                        <input name="source" type="text" class="form-control" aria-describedby="sourceHelp"
                          placeholder="/source/example ..." value="{{this.source}}" required>
                      </div>
                      <div class="col">
                        <small id="targetHelp" class="form-text text-muted">The destination of the redirect.</small>
                        <input name="target" type="text" class="form-control" aria-describedby="targetHelp"
                          placeholder="/target/example ..." value="{{this.target}}" required>
                      </div>
                      <div class="col">
                        <input name="_id" type="hidden" value="{{this.id}}">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-link redirect-edit-hide" data-target="#redirect-{{@key}}"
                          data-info="#redirect-info-{{@key}}">Cancel</button>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="alert alert-warning fade show mb-3 mt-3" role="alert">
            <strong>Sorry, no redirects found.</strong>
          </div>
          {{/if}}

          {{> admin/components/pagination data=redirects}}

          <h5>Add Redirect</h5>
          <form action="/addredirect" method="POST" id="addredirect" class='mb-5 container'>
            <div class="row align-items-end">
              <div class="col">
                <small id="sourceHelp" class="form-text text-muted">The relative url that is redirected.</small>
                <input name="source" type="text" class="form-control" aria-describedby="sourceHelp"
                  placeholder="/source/example ..." required>
              </div>
              <div class="col">
                <small id="targetHelp" class="form-text text-muted">The destination of the redirect.</small>
                <input name="target" type="text" class="form-control" aria-describedby="targetHelp"
                  placeholder="/target/example ..." required>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>