<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    {{#if forgotPassword}}
    <title>Analog CMS: Forgot Password</title>
    <meta name="description" content="Forgot Password Page for Analog CMS">
    {{else if resetPassword}}
    <title>Analog CMS: Reset Password</title>
    <meta name="description" content="Reset Password Page for Analog CMS">
    {{else}}
    <title>Analog CMS: Login</title>
    <meta name="description" content="Login Page for Analog CMS">
    {{/if}}
    
    <!--VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{{site_data.settings.meta_head}}}

    <!--BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!--LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <!--FAVICON -->
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body class="{{#if forgotPassword}}forgotpassword{{else if resetPassword}}resetpassword{{else}}login{{/if}}">