<div class="container-fluid menu page">
    <div class="row">

        {{> admin/components/menus/main menu-menus=true}}

        <div class="col-12 col-lg-10">
            <div class="row no-gutters">

                {{> admin/components/heading heading=(add "Edit Menu: " menu.name) slug=menu.slug}}

                {{> shared/notifications}}

                <div class="container page-body">
                    <div class="row">
                        <div class="col-12">
                            <form action="/updatemenu" method="POST">
                                <div class="form-row align-items-end">
                                    <div class="form-group col-md-6">
                                        <label for="name">Menu Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Menu Name" value="{{menu.name}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" name="_id" value={{menu.id}} hidden>
                                        <button type="submit" class="btn btn-primary">Update Name</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr>

                    <div class="row draggableContainer">

                        {{#each menu.links}}
                        <div id="{{this.id}}" class="col-12 col-sm-6 col-lg-4 menu-item draggable">
                            <div class="card{{#unless this.active}} border-danger{{/unless}}">
                                <div class="card-body{{#unless this.active}} text-danger{{/unless}}">
                                    <h5 class="card-title">{{this.text}}</h5>
                                    <p class="card-text">URL: {{this.route}}</p>
                                    {{#eq this.target '_blank'}}<p class="card-text"><i>Opens in new tab</i></p>{{/eq}}
                                    {{#if this.submenu}}
                                    <p class="d-inline-block"><i>Submenu:</i></p>
                                    <ul class="submenu draggableContainer list-group pl-1 pb-3">
                                        {{#each this.submenu}}
                                        <li id="{{this.id}}" class="list-group-item submenu-item draggable{{#unless this.active}} list-group-item-danger{{/unless}}">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{{this.route}}" target="_blank">{{this.text}}</a>
                                                <div class="d-flex justify-content-between">
                                                    <button type="button" data-toggle="collapse"
                                                        data-target="#submenu-item-{{@../index}}{{@key}}-edit" aria-expanded="false"
                                                        aria-controls="submenu-item-{{@../index}}{{@key}}-edit"
                                                        class="btn btn-info mr-1"><i class="fas fa-edit"></i>
                                                    </button>
                                                    <form class="deletesubmenuitem" action="/deletesubmenuitem" method="POST">
                                                        <input name="_id" type="hidden" value="{{../this.id}}">
                                                        <input name="_submenu" type="hidden" value="{{this.id}}">
                                                        <input name="slug" type="hidden" value="{{../../menu.slug}}">
                                                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <form action="/updatemenuitem" method="POST" id="submenu-item-{{@../index}}{{@key}}-edit" data-id="{{../../menu.id}}" class="updatesubmenuitem collapse">
                                                <small id="text-help" class="form-text text-muted">Text that appears in this submenu item.</small>
                                                <input name="text" class="form-control" type="text" aria-describedby="text-help" placeholder="Enter new text ..." value="{{this.text}}">
                                                <small id="route-help" class="form-text text-muted">Url this submenu item points to.</small>
                                                <input name="route" class="form-control" type="text" aria-describedby="route-help" placeholder="Enter new url ..." value="{{this.route}}">
                                                <div class="custom-control custom-checkbox mt-3 mb-3">
                                                    <input type="checkbox" name="target" class="custom-control-input" id="submenuitem-target-{{@../index}}{{@key}}" value="_blank" {{#eq this.target '_blank'}}checked{{/eq}}>
                                                    <label class="custom-control-label" for="submenuitem-target-{{@../index}}{{@key}}">Open in new tab</label>
                                                </div>
                                                <input name="_id" type="hidden" value="{{this.id}}">
                                                <input name="permalink" type="hidden" value="{{this.permalink.id}}">
                                                <input name="originalRoute" type="hidden" value="/{{this.permalink.full}}" class="addmenuitem-or">
                                                <input name="slug" type="hidden" value="{{../../menu.slug}}">
                                                <button type="submit" class="btn btn-info mt-2 mb-2">Update</button>
                                            </form>
                                        </li>
                                        {{/each}}
                                    </ul>
                                    {{/if}}
                                    <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                                        data-target="#menu-item-{{@key}}-submenu" aria-expanded="false"
                                        aria-controls="menu-item-{{@key}}-submenu">Add to Submenu</button>
                                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse"
                                        data-target="#menu-item-{{@key}}-edit" aria-expanded="false"
                                        aria-controls="menu-item-{{@key}}-edit">Edit</button>
                                    <div class="collapse" id="menu-item-{{@key}}-edit">
                                        <br />
                                        <div class="card card-body">
                                            <form action="/updatemenuitem" method="POST" class='updatemenuitem'>
                                                <div class="form-group">
                                                    <label for="title">Edit Menu Item</label>
                                                    <small id="text-help" class="form-text text-muted">Text that appears in this menu item.</small>
                                                    <input name="text" class="form-control" type="text" aria-describedby="text-help" placeholder="Enter new text ..." value="{{this.text}}">
                                                    <small id="route-help" class="form-text text-muted">Url this menu item points to.</small>
                                                    <input name="route" class="form-control" type="text" aria-describedby="route-help" placeholder="Enter new url ..." value="{{this.route}}">
                                                </div>
                                                <div class="custom-control custom-checkbox mb-3">
                                                    <input type="checkbox" name="target" class="custom-control-input" id="menuitem-target-{{@key}}" value="_blank" {{#eq this.target '_blank'}}checked{{/eq}}>
                                                    <label class="custom-control-label" for="menuitem-target-{{@key}}">Open in new tab</label>
                                                </div>
                                                <input name="_id" type="hidden" value="{{this.id}}">
                                                <input name="originalRoute" type="hidden" value="/{{this.permalink.full}}">
                                                <input name="permalink" type="hidden" value="{{this.permalink.id}}">
                                                <input name="reference" type="hidden" value="{{this.is_ref}}">
                                                <input name="slug" type="hidden" value="{{../menu.slug}}">
                                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                                            </form>

                                            <form class="mt-1" action="/deletemenuitem" method="POST">
                                                <input name="_id" type="hidden" value="{{this.id}}">
                                                <input name="slug" type="hidden" value="{{../menu.slug}}">
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="collapse" id="menu-item-{{@key}}-submenu">
                                        <br />
                                        <div class="card card-body">
                                            <form id="form-{{@key}}-submenu" action="/addsubmenu" method="POST" class="addmenuitem">
                                                <div class="form-group">
                                                    <label for="title">Add Submenu Item</label>
                                                    <small id="text-help" class="form-text text-muted">Text that appears in this menu item.</small>
                                                    <input name="text" class="form-control addmenuitem-text" type="text" aria-describedby="text-help" placeholder="Enter new menu item text ..." required>
                                                    <small id="route-help" class="form-text text-muted">Url this menu item points to.</small>
                                                    <input name="route" class="form-control addmenuitem-url" type="text" aria-describedby="route-help" placeholder="Enter new menu item url ..." required>
                                                </div>
                                                <div class="custom-control custom-checkbox mb-3">
                                                    <input type="checkbox" name="target" class="custom-control-input" id="submenuitem-target-new" value="_blank">
                                                    <label class="custom-control-label" for="submenuitem-target-new">Open in new tab</label>
                                                </div>
                                                <input name="_id" type="hidden" value="{{this.id}}">
                                                <input name="slug" type="hidden" value="{{../menu.slug}}">
                                                <input name="reference" type="hidden" value="false" class="addmenuitem-ref">
                                                <input name="originalRoute" type="hidden" value="" class="addmenuitem-or">
                                                <input name="owner" type="hidden" value="{{../menu._id}}" >
                                                <button type="submit" class="btn btn-success btn-block">Add</button>
                                            </form>
                                            <small id="submenu-help" class="form-text text-muted">Choose existing page.</small>
                                            <select form="form-{{@key}}-submenu" class="custom-select menu-item-url-select" name="permalink" aria-describedby="submenu-help">
                                                <option disabled selected value> -- select an option -- </option>
                                                {{#each ../permalinks}}
                                                    <option value="{{this.id}}" data-route="/{{this.full}}" data-title="{{this.owner.title}}" data-title="{{this.owner.title}}">{{this.owner.title}} - {{this.ownerModel}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        <div class="col-12 col-md-6 col-lg-4 menu-item add-item">
                            <div class="card card-body">
                                <form id="addmenuitem" action="/addmenuitem" method="POST" class="addmenuitem">
                                    <div class="form-group">
                                        <label for="title">Add Menu Item</label>
                                        <small id="text-help" class="form-text text-muted">Text that appears in this menu item.</small>
                                        <input name="text" class="form-control addmenuitem-text" type="text" aria-describedby="text-help" placeholder="Enter new menu item text ..." required>
                                        <small id="route-help" class="form-text text-muted">Url this menu item points to.</small>
                                        <input name="route" class="form-control addmenuitem-url" type="text" aria-describedby="route-help" placeholder="Enter new menu item url ..." required>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" name="target" class="custom-control-input" id="menuitem-target-new" value="_blank">
                                        <label class="custom-control-label" for="menuitem-target-new">Open in new tab</label>
                                    </div>
                                    <input name="_id" type="hidden" value="{{menu.id}}">
                                    <input name="reference" type="hidden" value="false" class="addmenuitem-ref">
                                    <input name="originalRoute" type="hidden" value="" class="addmenuitem-or">
                                    <input name="slug" type="hidden" value="{{menu.slug}}">
                                    <button type="submit" class="btn btn-success btn-block">Add</button>
                                </form>
                                <small id="submenu-help" class="form-text text-muted">Choose existing page.</small>
                                <select form="addmenuitem" class="custom-select menu-item-url-select" name="permalink" aria-describedby="submenu-help">
                                    <option disabled selected value> -- select an option -- </option>
                                    {{#each permalinks}}
                                        <option value="{{this.id}}" data-route="/{{this.full}}" data-title="{{this.owner.title}}">{{this.owner.title}} - {{this.ownerModel}}</option>
                                    {{/each}}
                                </select>
                                <div class="add-item-overlay active d-flex align-items-center justify-content-center">
                                    <div>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <h5>Add</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-5">
                        <form action="/deletemenu" method="POST" class="d-inline-block">
                            <input name="_id" type="hidden" value="{{menu.id}}">
                            <button type="submit" class="btn btn-danger">Delete Menu</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>