<div class="container-fluid edit-page page">
  <div class="row">

    {{> admin/components/menus/main menu-pages=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading
            author= page.author
            heading=(add "Edit Page: " page.title)
            created=(moment page.created)
            updated=(moment page.updated)
        }}

        {{> shared/notifications}}

        <div class="container page-body">
          <form action="/updatepage" method="POST" id="updatepage">

            <div class="form-group row">
              <div class="col-12">
                <div class="custom-fields-notifications"></div>
              </div>

              <div class="col-12">
                <label>Page Information</label>
              </div>
            </div>

            <div class="form-group row">
              <div class="col d-block d-md-flex align-items-center mt-3">

                <div class="custom-control custom-switch mr-3">
                  <input id="activeSwitch" name="active" type="checkbox" class="custom-control-input"
                    {{#if page.active}}checked{{/if}}>
                  <label class="custom-control-label" for="activeSwitch">Active</label>
                </div>

                <div class="custom-control custom-switch mr-3">
                  <input id="homepageSwitch" name="homepage" type="checkbox" class="custom-control-input"
                    {{#if page.homepage}}checked{{/if}}>
                  <label class="custom-control-label" for="homepageSwitch">Homepage</label>
                </div>

                <div class="custom-control custom-switch">
                  <input id="sitemapSwitch" name="sitemap" type="checkbox" class="custom-control-input"
                    {{#if page.permalink.sitemap}}checked{{/if}}>
                  <label class="custom-control-label" for="sitemapSwitch">Include in Sitemap</label>
                </div>

                {{> admin/components/thumbnail-upload 
                image=page.image 
                id=page.id 
                delurl='/deletepageimage'
                caption='Featured Image'}}

              </div>
            </div>

            <div class="form-group row main-page-form">
              <div class="col-12 mt-3">
                <small id="titleHelp" class="form-text text-muted">Name of page</small>
                <input name="title" type="text" class="form-control" aria-describedby="titleHelp"
                  placeholder="Enter title ..." value="{{page.title}}" required></input>
              </div>

              <div class="col-12 col-md-4 mt-3">
                <small id="templateHelp" class="form-text text-muted">Select a template for this page.</small>
                <select class="custom-select" name="template" aria-describedby="templateHelp">
                  {{#each templates}}
                    <option value="{{this}}" {{#eq ../page.template this}} selected="selected" {{/eq}}>{{this}}</option>
                  {{/each}}
                  <option value="defaults/page" {{#eq page.template 'defaults/page'}} selected="selected" {{/eq}}>
                    Default page Template</option>
                </select>
              </div>

              <div class="col-12 col-md-4 mt-3">
                <small id="parentHelp" class="form-text text-muted">Select a parent page.</small>
                <select class="custom-select" name="parent" aria-describedby="parentHelp">
                  <option value="none">None</option>
                  {{#each pages}}
                    <option value="{{this.permalink.id}}" {{#eq ../page.permalink.parent.id this.permalink.id}} selected="selected" {{/eq}}>{{this.title}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="col-12 mt-3">
                <hr>
                <small id="routeHelp" class="form-text text-muted">Permalink of page, leave out the beginning backslash
                  "/"</small>
                <div class="d-flex align-items-center">
                  <small class="mr-1">{{site_data.settings.address}}/{{remove page.permalink.full page.permalink.route}}</small>
                  <input name="route" type="text" class="form-control" style="width: auto;" aria-describedby="routeHelp"
                  placeholder="Enter permalink ..." value="{{page.permalink.route}}" required></input>
                </div>
              </div>
            </div>

            <hr>

            <div class="form-group">
              <label for="title">Page Content</label>
              <small id="contentHelp" class="form-text text-muted">The content of the page</small>
              <textarea name="content" class="form-control summernote-editor" aria-describedby="contentHelp"
                placeholder="The content ...">{{page.content}}</textarea>
            </div>

            {{> admin/components/accordian name='custom-fields' title='Custom Fields' style="info" content="admin/pages/edit/page/customfields"}}

            {{> admin/components/accordian name='page-meta' title='Meta' style="secondary" content="admin/pages/edit/page/meta"}}

            {{> admin/components/accordian name='page-forms' title='Forms' style="primary" content="admin/pages/edit/page/forms"}}

            <input id="_image" name="image" type="hidden" value="{{page.image.id}}">
            <input name="_id" type="hidden" value="{{page.id}}">
            <input name="originalRoute" type="hidden" value="{{page.permalink.full}}">
            <button type="submit" class="btn btn-outline-info">Update Page</button>
            <a class="btn btn-outline-warning" href="/admin/pages" role="button">Cancel</a>
            <a class="btn btn-primary" href="/{{page.permalink.full}}" target="_blank" role="button">View</a>
          </form>

          <hr>

          <div class="row">
            <form action="/deletepage" method="POST" class="d-inline-block">
              <input name="_id" type="hidden" value="{{page.id}}">
              <button type="submit" class="btn btn-danger">Delete Page</button>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>