<div class="container-fluid edit-post page">
  <div class="row">

    {{> admin/components/menus/main menu-posts=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading
            author= post.author
            heading=(add "Edit Post: " post.title)
            created=(moment post.created)
            updated=(moment post.updated)}}

        {{> shared/notifications}}

        <div class="container page-body">
          <form action="/updatepost" method="POST" id="updatepost">
            <div class="form-group row">
              
              <div class="col-12">
                <div class="custom-fields-notifications"></div>
              </div>
              
              <div class="col d-block d-md-flex align-items-center top-post-form">

                <div class="custom-control custom-switch mr-3">
                  <input id="activeSwitch" name="active" type="checkbox" class="custom-control-input"
                    {{#if post.active}}checked{{/if}}>
                  <label class="custom-control-label" for="activeSwitch">Active</label>
                </div>

                <div class="custom-control custom-switch mr-3">
                  <input id="privateSwitch" name="private" type="checkbox" class="custom-control-input"
                    {{#if post.private}}checked{{/if}}>
                  <label class="custom-control-label" for="privateSwitch">Private</label>
                </div>

                <div class="custom-control custom-switch">
                  <input id="sitemapSwitch" name="sitemap" type="checkbox" class="custom-control-input"
                    {{#if post.permalink.sitemap}}checked{{/if}}>
                  <label class="custom-control-label" for="sitemapSwitch">Include in Sitemap</label>
                </div>

                {{> admin/components/thumbnail-upload 
                image=post.image 
                id=post.id 
                delurl='/deletepostimage'
                caption='Featured Image'}}

              </div>
              <div class="col-12 main-post-form">
                <small id="titleHelp" class="form-text text-muted">Name of post</small>
                <input name="title" type="text" class="form-control" aria-describedby="titleHelp"
                  placeholder="Enter title ..." value="{{post.title}}" required></input>
              </div>
              <div class="col-12 col-md-4">
                <small id="routeHelp" class="form-text text-muted">Permalink of post, leave out the beginning backslash
                  "/"</small>
                <input name="route" type="text" class="form-control" aria-describedby="routeHelp"
                  placeholder="Enter permalink ..." value="{{post.permalink.route}}" required></input>
              </div>
              <div class="col-12 col-md-4">
                <small id="templateHelp" class="form-text text-muted">Select a template for this post.</small>
                <select class="custom-select" name="template" aria-describedby="templateHelp">
                  {{#each templates}}
                  <option value="{{this}}" {{#eq ../post.template this}} selected="selected" {{/eq}}>{{this}}</option>
                  {{/each}}
                  <option value="defaults/post" {{#eq post.template 'defaults/post'}} selected="selected" {{/eq}}>
                    Default Post Template</option>
                </select>
              </div>
              <div class="col-12 col-md-4">
                <small id="publishedHelp" class="form-text text-muted">Publish date to display</small>
                <input name="published" type="text" class="form-control datepicker" aria-describedby="publishedHelp"
                  placeholder="Select date" value="{{moment post.published format="MM/DD/YYYY"}}"></input>
              </div>
            </div>

            <hr>

            <div class="form-group">
              <label for="title">Post Content</label>
              <small id="contentHelp" class="form-text text-muted">The content of the post</small>
              <textarea name="content" class="form-control summernote-editor" aria-describedby="contentHelp"
                placeholder="The post ...">{{post.content}}</textarea>
            </div>

            {{> admin/components/accordian name='post-taxonomies' title='Taxonomies' style="success" content="admin/pages/edit/post/taxonomies"}}

            {{> admin/components/accordian name='custom-fields' title='Custom Fields' style="info" content="admin/pages/edit/post/customfields"}}

            {{> admin/components/accordian name='post-meta' title='Meta' style="secondary" content="admin/pages/edit/post/meta"}}

            {{> admin/components/accordian name='page-forms' title='Forms' style="primary" content="admin/pages/edit/post/forms"}}

            <input id="_image" name="image" type="hidden" value="{{post.image.id}}">
            <input name="originalRoute" type="hidden" value="{{post.permalink.full}}">
            <input name="_id" type="hidden" value="{{post.id}}">
            <button type="submit" class="btn btn-outline-info">Update Post</button>
            <a class="btn btn-outline-warning" href="/admin/posts" role="button">Cancel</a>
            <a class="btn btn-primary" href="/{{post.permalink.route}}" target="_blank" role="button">View</a>
          </form>

          <hr>

          <div class="row">
            <form action="/deletepost" method="POST" class="d-inline-block">
              <input name="_id" type="hidden" value="{{post.id}}">
              <button type="submit" class="btn btn-danger">Delete Post</button>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>