<div class="container-fluid edit-user page">
  <div class="row">

    {{> admin/components/menus/main menu-taxonomies=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading=(add "Edit Taxonomy: " taxonomy.name)}}

        {{> shared/notifications}}

        <div class="container page-body">

          <div class="row">
            <div class="col-12 col-md-4 mt-4">
              <form id="edittaxonomy" action="/edittaxonomy" method="POST">
                  <div class="form-group">
                    <label for="taxonomyName">Edit Name</label>
                    <input name="name" type="text" class="form-control" id="taxonomyName" placeholder="Taxonomy Name" value="{{taxonomy.name}}">
                    <input name="_id" type="hidden" value="{{taxonomy.id}}">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-4 mt-4">
              <form id="addterm" action="/addterm" method="POST">
                  <div class="form-group">
                    <label for="termName">Add Term</label>
                    <input name="name" type="text" class="form-control" id="termName" placeholder="Term Name">
                    <input name="_owner" type="hidden" value="{{taxonomy.id}}">
                  </div>
                  <button type="submit" class="btn btn-info">Add</button>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4">
              <h4>Terms</h4>
              {{#if taxonomy.terms}}
                {{#each taxonomy.terms}}
                  <a href="/admin/term/edit/{{this.id}}" role="button" class="btn btn-primary">
                    {{this.name}} <span class="badge badge-light">{{this.associations.length}}</span>
                  </a>
                {{/each}}
              {{else}}
              <p>No terms set for this taxonomy.</p>
              {{/if}}
            </div>
          </div>

          <hr>

          <div class="row">
              <form action="/deletetaxonomy" method="POST" class="d-inline-block">
                  <input name="_id" type="hidden" value="{{taxonomy.id}}">
                  <button type="submit" class="btn btn-outline-danger">Delete Taxonomy</button>
              </form>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>