<ul class="nav nav-tabs storage-tabs">
    <li class="nav-item">
        <a class="nav-link{{#eq site_data.settings.storage.type "local"}} active{{/eq}}" data-target="#local" href="#">Local</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{#eq site_data.settings.storage.type "googleCloud"}} active{{/eq}}" data-target="#gcs" href="#">Google Cloud Storage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{#eq site_data.settings.storage.type "aws"}} active{{/eq}}" data-target="#aws" href="#">AWS S3</a>
    </li>
</ul>

<section id="local" class="storage-body{{#isnt site_data.settings.storage.type "local"}} hidden{{/isnt}}">
    <p>Media will be saved locally, in the <mark>/public</mark> directory.</p>

    <form id="updatelocalstorage" action="/updatelocalstorage" method="POST">
        <input name="_id" type="hidden" value="{{site_data._id}}">
        <button type="submit" class="btn btn-success btn-lg">Apply &amp; Update</button>
    </form>
</section>

<section id="gcs" class="storage-body{{#isnt site_data.settings.storage.type "googleCloud"}} hidden{{/isnt}}">
    <p><i>To complete the Google Cloud Storage configuration, make sure the <mark>gcs.json</mark> file exists in the
            <mark>/config/storage</mark> directory. This authenticate JSON file can be downloaded from Google's API
            console.</i></p>

    <form id="googleCloudStorage" action="/updategooglecloudstorage" method="POST">
        <div class="form-group">
            <label for="projectId">Google Cloud Project ID</label>
            <input name="projectId" id="projectId" class="form-control" type="text" aria-describedby="projectIdHelp"
                placeholder="Project ID ..." value="{{site_data.settings.storage.configurations.googleCloud.projectId}}" required>
            <small id="projectIdHelp" class="form-text text-muted">Google Cloud project id can be found in the API console.</small>
        </div>
        <div class="form-group">
            <label for="bucketName">Google Cloud Bucket Name</label>
            <input name="bucketName" id="bucketName" class="form-control" type="text" aria-describedby="bucketNameHelp"
                placeholder="Bucket name ..." value="{{site_data.settings.storage.configurations.googleCloud.bucketName}}" required>
            <small id="bucketNameHelp" class="form-text text-muted">Name of bucket where uploads are stored</small>
        </div>
        <input name="_id" type="hidden" value="{{site_data._id}}">
        <button type="submit" class="btn btn-success btn-lg">Apply &amp; Update</button>
    </form>
</section>

<section id="aws" class="storage-body{{#isnt site_data.settings.storage.type "aws"}} hidden{{/isnt}}">
    <form id="awsstorage" action="/updateawsstorage" method="POST">
        <div class="form-group">
            <label for="accessKeyId">AWS Access Key ID</label>
            <input name="accessKeyId" id="accessKeyId" class="form-control" type="text" aria-describedby="accessKeyIdHelp"
                placeholder="Access Key ID ..." value="{{site_data.settings.storage.configurations.aws.accessKeyId}}" required>
            <small id="accessKeyIdHelp" class="form-text text-muted">Generated in AWS's Security Credentials.</small>
        </div>
        <div class="form-group">
            <label for="secretAccessKey">Secret Access Key</label>
            <input name="secretAccessKey" id="secretAccessKey" class="form-control" type="text" aria-describedby="secretAccessKey"
                placeholder="Secret Access Key ..." value="{{site_data.settings.storage.configurations.aws.secretAccessKey}}" required>
            <small id="secretAccessKeyHelp" class="form-text text-muted">Generated in AWS's Security Credentials.</small>
        </div>
        <div class="form-group">
            <label for="bucketName">Bucket Name</label>
            <input name="bucketName" id="bucketName" class="form-control" type="text" aria-describedby="bucketNameHelp"
                placeholder="Bucket name ..." value="{{site_data.settings.storage.configurations.aws.bucketName}}" required>
            <small id="bucketNameHelp" class="form-text text-muted">Name of bucket where uploads are stored</small>
        </div>
        <input name="_id" type="hidden" value="{{site_data._id}}">
        <button type="submit" class="btn btn-success btn-lg">Apply &amp; Update</button>
    </form>
</section>