<div id="custom-fields">
    <div class="row custom-fields-notifications"></div>
    <h5>Add Custom Field</h5>
    <div id="new-custom-field" class="form-group row needs-validation">
        <div class="col-6 col-md-4">
            <input id="new-custom-field-slug" name="slug" type="text" class="form-control" placeholder="Enter slug ..."></input>
            <div class="invalid-feedback">Required.</div>
        </div>
        <div class="col-6 col-md-4">
            <input id="new-custom-field-value" name="value" type="text" class="form-control"
                placeholder="Enter value ..."></input>
        </div>
        <div class="col-4">
            <input id="new-custom-field-owner" type="hidden" name="owner" value="{{page.id}}">
            <input id="new-custom-field-ownerModel" type="hidden" name="ownerModel" value="Pages">
            <button type="button" class="btn btn-outline-info" id="addcustomfield">Add</button>
        </div>
    </div>
    <div id="custom-fields-list" class="col-12 mb-5">
        {{#if page.customFields}}
        {{#each page.customFields}}
            <div id="cf-{{@key}}" class="row custom-field">
                <div class="col-6 col-md-4">
                    <input id="new-custom-field-slug" name="slug" type="text" class="form-control"
                        placeholder="Enter slug ..." value="{{this.slug}}" disabled></input>
                    <div class="invalid-feedback">Required.</div>
                </div>
                <div class="col-6 col-md-4">
                    <input id="new-custom-field-value" name="value" type="text" class="form-control"
                        placeholder="Enter value ..." value="{{this.value}}" disabled></input>
                </div>
                <div class="col-4">
                    <input id="new-custom-field-id" type="hidden" name="_id" value="{{this.id}}">
                    <button type="button" class="btn btn-success editcustomfield" data-cf="#cf-{{@key}}"><i class="far fa-edit"></i></button>
                    <button type="button" class="btn btn-info updatecustomfield" data-cf="#cf-{{@key}}">Update</button>
                    <button type="button" class="btn btn-danger deletecustomfield" data-row="#cf-{{@key}}" data-id="{{this.id}}"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        {{/each}}
        {{else}}
        <h5 class="no-cf-alert">No custom fields for this page.</h5>
        {{/if}}
    </div>
</div>