<div class="forms-wrap mb-5">
    <p><i>Select forms to be accessible in this page's template.</i></p>
    {{#if forms}}
        {{#each forms}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="forms" value="{{this.id}}" id="form-check-{{this.id}}" {{#contains ../page.forms this.id}}checked{{/contains}}>
                <label class="form-check-label" for="form-check-{{this.id}}">{{this.name}}</label>
            </div>
        {{/each}}
    {{else}}
        <p>No forms setup.</p>
    {{/if}}
</div>